.tryhackme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  
  .tryhackme-iframe {
    width: 350px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border: none;
    overflow: hidden;
  }
  
  