.tryhackme-section {
    padding-bottom: 1rem; /* Or any other value you prefer */
  }
  
  .tryhackme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  
  .tryhackme-iframe {
    width: 350px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border: none;
    overflow: hidden;
  }
  
  